<a
    {{#if requestApproved}}
    href="/washdays/{{createdAt}}"
    {{else if requestPending}}
    href="/washdays"
    {{else}}
    href="/auth/login/{{createdAt}}"
    {{/if}}
    class="
           rounded
           border
           border-gray-200
           shadow
    ">
    <div class="
            flex
            flex-row
            items-baseline
            shadow
            p-2
            gap-1
        ">
        <div class="flex flex-col">
            <p class="
                    col-span-1
                    text-xl
                    text-center
                    font-semibold
                    tracking-tight
                    bg-white
                    rounded
                    px-2
                ">
                Wash Day<br/>{{dateFromISOString this.createdAt}}
            </p>
        </div>

        <!--        display just a counter of completed-->
        <!--        (last_status == bags_completed && bags_completed >= bags_accepted)-->
        <!--        click through to display a a list of names in either column-->
        <div id="completedVersusUncompleted"
             class="
                     flex
                     flex-col
                     text-left
                     col-span-2
                     p-2
                     tracking-tight
            ">

            <div class="
                    text-lg
                    font-medium
                    pt-2
                ">
                Complete: <span class="text-green-500">{{this.peopleComplete}}</span>
            </div>


            <div class="
                    text-lg
                    font-medium
                ">
                Incomplete: <span class="text-red-500">{{this.peopleIncomplete}}</span>
            </div>

        </div>

        <div class="
                content-center
                rounded
                mx-2
                px-4
                border
                border-gray-200
                shadow
                {{#if requestApproved}}
                text-green-500
                    ">
                <p>
                    Access<br />Approved
                {{else if requestPending}}
                text-yellow-500
                    ">
                <p>
                    Access<br />Pending
                {{else}}
                text-blue-600
                    ">
                <p>
                    Request<br />Access
                {{/if}}
            </p>
        </div>

    </div>
</a>

